.modal-main {
  position: fixed;
  background: white;
  width: 70%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--box-shadow);
}
.modal-main span {
  background-color: var(--pink);
  width: 50%;
  height: 4px;
}
.modal-main h2 {
  text-align: center;
  padding: 3rem;
  font-family: var(--fontTitles);
}
