* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --green: #48d620;
  --yellow: #ffce07;
  --pink: #ff1c84;
  --black: rgba(0, 0, 0, 0.829);
  --transition: all 0.2s ease-in-out;
  --radius: 100px 0 100px 0;
  --boxShadow: 8px 8px 5px rgba(151, 211, 177, 0.507);
  --fontTitles: "Merriweather", serif;
  --fontTexts: "Roboto", sans-serif;
}
body {
  color: var(--black);
}
